
<body>
  <header class="container">
    <nav class="font-serif">
      <div class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/img/trellis-logo.png" alt="" height="48" />
          </a>
          <% if (typeof user !== 'undefined') { %>
          <!-- for logged in user -->
          <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
            <!-- <span>Settings</span>
            <a href="#"><span>Logout</span></a> -->
          </div>
        <% } else { %>
          <div>
            <div>
              <a href="/signup"><span>Sign Up</span></a>
              <a href="/login"><span>Log In</span></a>
            </div>
          </div>
        <% } %>
        </div>
      </div>
      <div class="navbar navbar-expand-lg navbar-light text-uppercase">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if (typeof user !== 'undefined') { %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Tasks</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Calendar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Seed Library</a>
              </li>
            </ul>
        <% } else { %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Features</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
        <% } %>
          </div>
        </div>
      </div>
    </nav>
  </header>

