
<body>
  <header class="container">
    <nav>
      <div class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/img/trellis-logo.png" alt="" height="48" />
          </a>
          <% if (typeof user !== 'undefined') { %>
          <!-- for logged in user -->
          <div>
            <span>Settings</span>
            <a href="#"><span>Logout</span></a>
          </div>
        <% } else { %>
          <div>
            <div>
              <a href="#"><span>Logout</span></a>
              <span>Sign Up</span>
            </div>
            <div id="signin-version" class="d-none">
              <span>Sign In</span>
            </div>
          </div>
        <% } %>
        </div>
      </div>
      <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if (typeof user !== 'undefined') { %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Tasks</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Calendar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Seed Library</a>
              </li>
            </ul>
        <% } else { %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Features</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
        <% } %>
          </div>
        </div>
      </div>
    </nav>
  </header>

