<%- include('partials/head') -%>
<%- include('partials/header') -%>

<main class="container">
    <div class="container-md py-3">
        <div class="row mx-auto">
            <div class="col my-auto order-md-2 text-center text-md-start pb-4">
                <h2 class="font-serif py-3">Support for your edible garden</h2>
                <p>Track gardening tasks, learn when to plant based on your climate, and much more!</p>
                <button type="button" class="btn btn-primary">Sign Up</button>
            </div>
            <div class="col-md order-md-1">
                <img src="/img/a-frame-trellis-wood.png" class="img-fluid" alt="Illustration of a wooden a-frame trellis with a green vine growing on it">
            </div>
        </div>

    </div>
</main>
    

<%- include('partials/footer') -%>