<%- include('partials/head') -%>
<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2>Dashboard</h2>
      <p>Hello, <%= user.userName %>!</p>
      <h3 class="mt-5">Add a Crop</h3>
    </div>
    <div class="col text-end">
      <!-- if !garden, show graphic to set up garden -->
      <p>Gardening in LOCATION</p>
      <p>Zone ZONE</p>
      <p>Growing Season: NUM DAYS</p>
      <!-- if last frost has passed, show first frost; else show last -->
      <p>Estimated Last Frost: DATE</p>
      <a href="#"><span>Edit Profile</span></a>
    </div>
  </div>
  <div class="row mt-5">
    <!-- dynamically displayed if there are overdue tasks -->
    <h3>Overdue Tasks</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Direct Sow</th>
          <th scope="col">Start Date</th>
          <th scope="col">Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><input class="form-check-input me-1" type="checkbox" value="carrots" aria-label="...">Carrots</td>
          <td>March 18</td>
          <td>March 25</td>
        </tr>
        <tr>
          <td scope="row"><input class="form-check-input me-1" type="checkbox" value="beets" aria-label="...">Beets</td>
          <td>March 25</td>
          <td>April 1</td>
        </tr>
        <tr>
          <td scope="row"><input class="form-check-input me-1" type="checkbox" value="radishes" aria-label="...">Radishes</td>
          <td>April 23</td>
          <td>April 30</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-5">
    <h3>This Week's Tasks</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Direct Sow</th>
          <th scope="col">Start Date</th>
          <th scope="col">Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><input class="form-check-input me-1" type="checkbox" value="carrots" aria-label="...">Carrots</td>
          <td>March 18</td>
          <td>March 25</td>
        </tr>
        <tr>
          <td scope="row"><input class="form-check-input me-1" type="checkbox" value="beets" aria-label="...">Beets</td>
          <td>March 25</td>
          <td>April 1</td>
        </tr>
        <tr>
          <td scope="row"><input class="form-check-input me-1" type="checkbox" value="radishes" aria-label="...">Radishes</td>
          <td>April 23</td>
          <td>April 30</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- include('partials/footer') -%>