<%- include('partials/header') -%>
    <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <h2>About Your Garden</h2>
                <form action="/signup" method="POST">
                    <div class="row justify-content-center">
                      <div class="mb-3 col-6">
                          <label for="zipCode" class="form-label">Zip Code</label>
                          <input type="text" class="form-control" id="zipCode" name="zipCode">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="mb-3 col-6">
                          <label for="lastFrost" class="form-label">Last Frost</label>
                          <input type="text" class="form-control" id="lastFrost" name="lastFrost">
                          <div class="form-text">Estimated last frost in spring</div>
                        </div>
                      <div class="mb-3 col-6">
                          <label for="firstFrost" class="form-label">First Frost</label>
                          <input type="text" class="form-control" id="firstFrost" name="firstFrost">
                          <div class="form-text">Estimated first frost in fall</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <legend>How will you be gardening?</legend>
                        <div>
                          <input type="checkbox" id="seedlings" name="seedlings">
                          <label for="seedlings">Planting seedlings from a nursery</label>
                        </div>
                        <div>
                          <input type="checkbox" id="sowDirect" name="sowDirect">
                          <label for="sowDirect">Sowing seeds directly (outdoors)</label>
                        </div>
                        <div>
                          <input type="checkbox" id="startIndoors" name="startIndoors">
                          <label for="startIndoors">Starting plants from seed (indoors)</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </section>
        </div>
    </main>

<%- include('partials/footer') -%>